<div class='jumbotron'>
  <h2>
    <img src="<%= @attributes.logo %>" alt='asset_logo' style='width:75px'><%= @user_asset.asset.name %>
  </h2>
  <p class='uashow-label'>Price:</p>
  <p class='uashow-price-data'><%= @attributes.price %></p>
  <p class='uashow-label'>Current Value:</p>
  <p class='uashow-price-data'><%= @user_asset.value %></p>
</div>
<h2>Overview</h2>
<table class='table table-striped'>
  <thead>
    <th>1d</th>
    <th>7d</th>
    <th>30d</th>
    <th>1y</th>
  </thead>
  <tbody>
    <tr>
      <td><%= (@user_asset.n_change(@attributes.price_changes.one_d)).round(5) %> USD</td>
      <td><%= (@user_asset.n_change(@attributes.price_changes.seven_d)).round(5) %> USD</td>
      <td><%= (@user_asset.n_change(@attributes.price_changes.thirty_d)).round(5) %> USD</td>
      <td><%= (@user_asset.n_change(@attributes[:price_changes][:one_y])).round(5) %> USD</td>
    </tr>
  </tbody>
</table>

<h2>Trade History</h2>
<table class='table table-striped'>
  <thead>
    <th></th>
    <th>Date</th>
    <th>Amount</th>
    <th>Basis</th>
    <th>Change Since Transaction</th>
  </thead>
  <tbody>
    <% @user_asset.trades.each do |trade| %>
      <tr>
        <td><%= trade.transaction_type.titleize %></td>
        <td><%= trade.created_at %></td>
        <td><%= trade.amount %></td>
        <td><%= trade.basis %></td>
        <td><%= number_to_percentage trade.change_since_transaction(@attributes[:price].to_f) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
