
  <h2>All Assets</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Rank</th>
        <th>Name</th>
        <th>Price</th>
        <th>Circulating Supply</th>
        <th>Max Supply</th>
        <th>Market Cap.</th>
        <th>ATH</th>
      </tr>
    </thead>
    <tbody>
        <% @paginatable_assets.each do |asset| %>
          <tr>
            <td><img src="<%= asset['logo_url'] %>" class="align-self-start mr-3" style="width:25px"></td>
            <td><%= asset['rank'] %></td>
            <td><%= link_to asset['name'], "/assets/asset?name=#{asset['currency']}" %></td>
            <td><%= number_to_currency asset['price'] %></td>
            <td><%= number_with_delimiter asset['circulating_supply'] %></td>
            <td><%= number_with_delimiter asset['max_supply'] %></td>
            <td><%= number_to_currency asset['market_cap'] %></td>
            <td><%= number_to_currency asset['high'] %></td>
          </tr>
        <% end %>
    </tbody>
  </table>
  <%= paginate @paginatable_assets %>
